.about{
    padding: 2rem 0;
}

.about .about-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.about .about-content .video-container {
    flex: 1 1 40rem;
    position: relative;
}

.about .about-content .video-container video {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    
}

.about .about-content .content {
    flex: 1 1 40rem;
}

.about .about-content .content h3 {
    font-size: 3rem;
    color: #333;
}

.about .about-content .content p {
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    line-height: 1.5;
}
